# data preprocessing

### import the packages and data set

In [ ]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/uber lyft price prediction/data set/final_dataset_1.csv")

In [ ]:
df.head()

,Unnamed: 0,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,...,max_travel_time,min_travel_time,avg_travel_time,merge_date,temp,clouds,pressure,rain,humidity,wind
0,0,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.3,1011.5,0.0,0.46,14.46
1,1,4.17,Lyft,1545149713527,Financial District,Northeastern University,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,35.0,12.0,23.5,Northeastern University - 2018-12-18 - 16,28.87,0.3,1011.5,0.0,0.46,14.46
2,2,2.61,Uber,1545152108275,Beacon Hill,Northeastern University,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,20.0,9.0,14.5,Northeastern University - 2018-12-18 - 16,28.87,0.3,1011.5,0.0,0.46,14.46
3,3,2.41,Lyft,1545151204098,Beacon Hill,Northeastern University,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,20.0,8.0,14.0,Northeastern University - 2018-12-18 - 16,28.87,0.3,1011.5,0.0,0.46,14.46
4,4,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.3,1011.5,0.0,0.46,14.46

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        293164 non-null  int64
 1   distance          293164 non-null  float64
 2   cab_type          293164 non-null  object
 3   time_stamp        293164 non-null  int64
 4   destination       293164 non-null  object
 5   source            293164 non-null  object
 6   surge_multiplier  293164 non-null  float64
 7   id                293164 non-null  object
 8   product_id        293164 non-null  object
 9   name              293164 non-null  object
 10  date_time         293164 non-null  object
 11  date              293164 non-null  object
 12  day               293164 non-null  int64
 13  hour              293164 non-null  int64
 14  fare_per_mile     293164 non-null  float64
 15  class_hour        293164 non-null  int64
 16  Price             293164 non-null  float64
 17  traveling_time    293164 non-null  object
 18  max_travel_time   293164 non-null  float64
 19  min_travel_time   293164 non-null  float64
 20  avg_travel_time   293164 non-null  float64
 21  merge_date        293164 non-null  object
 22  temp              293164 non-null  float64
 23  clouds            293164 non-null  float64
 24  pressure          293164 non-null  float64
 25  rain              293164 non-null  float64
 26  humidity          293164 non-null  float64
 27  wind              293164 non-null  float64
dtypes: float64(13), int64(5), object(10)
memory usage: 62.6+ MB

### cheaking correlation with the surge multiplier

In [ ]:
## first of all split the data set because uber's surge multiplier is only one
df_lyft = df[df['cab_type'] == 'Lyft']

In [ ]:
df_lyft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142028 entries, 0 to 293160
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        142028 non-null  int64
 1   distance          142028 non-null  float64
 2   cab_type          142028 non-null  object
 3   time_stamp        142028 non-null  int64
 4   destination       142028 non-null  object
 5   source            142028 non-null  object
 6   surge_multiplier  142028 non-null  float64
 7   id                142028 non-null  object
 8   product_id        142028 non-null  object
 9   name              142028 non-null  object
 10  date_time         142028 non-null  object
 11  date              142028 non-null  object
 12  day               142028 non-null  int64
 13  hour              142028 non-null  int64
 14  fare_per_mile     142028 non-null  float64
 15  class_hour        142028 non-null  int64
 16  Price             142028 non-null  float64
 17  traveling_time    142028 non-null  object
 18  max_travel_time   142028 non-null  float64
 19  min_travel_time   142028 non-null  float64
 20  avg_travel_time   142028 non-null  float64
 21  merge_date        142028 non-null  object
 22  temp              142028 non-null  float64
 23  clouds            142028 non-null  float64
 24  pressure          142028 non-null  float64
 25  rain              142028 non-null  float64
 26  humidity          142028 non-null  float64
 27  wind              142028 non-null  float64
dtypes: float64(13), int64(5), object(10)
memory usage: 31.4+ MB

In [ ]:
from sklearn.preprocessing import LabelEncoder

lable_encoder = LabelEncoder()

df_lyft['surge_multiplier'] = lable_encoder.fit_transform(df_lyft['surge_multiplier'])

df_lyft['surge_multiplier'].unique()

<ipython-input-10-8e31ae8356e4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lyft['surge_multiplier'] = lable_encoder.fit_transform(df_lyft['surge_multiplier'])

array([0, 2, 1, 4, 3, 5, 6])

In [ ]:
x = df_lyft[["temp" , "clouds" , "rain" , "humidity" , "wind" , "hour" , "surge_multiplier"]]

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142028 entries, 0 to 293160
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   temp              142028 non-null  float64
 1   clouds            142028 non-null  float64
 2   rain              142028 non-null  float64
 3   humidity          142028 non-null  float64
 4   wind              142028 non-null  float64
 5   hour              142028 non-null  int64
 6   surge_multiplier  142028 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 8.7 MB

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif_data = pd.DataFrame()
vif_data["feature"] = x.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(x.values, i)
                          for i in range(len(x.columns))]
  
print(vif_data)

            feature        VIF
0              temp  45.642746
1            clouds   7.948232
2              rain   1.183974
3          humidity  34.505503
4              wind   4.833342
5              hour   4.510030
6  surge_multiplier   1.054967

In [ ]:
x.corr()

,temp,clouds,rain,humidity,wind,hour,surge_multiplier
temp,1.000000,0.438685,0.138753,0.366500,0.123279,0.224415,0.006841
clouds,0.438685,1.000000,0.214320,0.516274,0.128638,0.077412,0.000764
rain,0.138753,0.214320,1.000000,0.217515,0.240867,-0.159717,-0.008856
humidity,0.366500,0.516274,0.217515,1.000000,-0.203858,-0.245150,-0.003878
wind,0.123279,0.128638,0.240867,-0.203858,1.000000,0.031153,0.006665
hour,0.224415,0.077412,-0.159717,-0.245150,0.031153,1.000000,0.005258
surge_multiplier,0.006841,0.000764,-0.008856,-0.003878,0.006665,0.005258,1.000000